
.lighter{
	color:#AAA;
	font-weight:200;
}
.chart-wrapper{
	width:100%;
	height:calc(100% - 250px);
	svg.chart{
		width:100%;
		height:calc(100% - 250px);
	}
	.target{
		fill:#9CF2BB;
	}
	.shot{
		fill:rgba(0,0,255,0.15);
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.x.axis path {
	  display: none;
	}

	.line {
	  fill: none;
	  stroke: steelblue;
	  stroke-width: 1.5px;
	}
}
.stats{
	.stat-label{
		font-size:12px;
		font-weight:200;
	}

}